// @file CSS styles for options dialog
// @copyright Digital Living Software Corp. 2014-2016

.pip-dialog.pip-information-dialog {
    .pip-header {
        h3 {
            margin: 0px;
        }
    }
}

