<!--
@file Confirmation dialog template
@copyright Digital Living Software Corp. 2014-2016
-->

<md-dialog class="pip-dialog pip-error-details-dialog layout-column" width="400" md-theme="{{ $ctrl.theme }}">
    <div class="pip-body">
        <div class="pip-header">
            <h3>{{ ::$ctrl.strings.errorDetails | translate }}</h3>
        </div>
        <div class="layout-row layout-align-start-center error-section text-body2 color-secondary-text"
             ng-if="$ctrl.error.code || ($ctrl.error.data && $ctrl.error.data.code)">
            {{ ::$ctrl.strings.errorCode | translate }}
        </div>
        <div class="layout-row layout-align-start-center text-subhead1" ng-if="$ctrl.error.code || ($ctrl.error.data && $ctrl.error.data.code)">
            {{ $ctrl.error.code || $ctrl.error.data.code }}
        </div>

        <div class="layout-row layout-align-start-center error-section text-body2 color-secondary-text"
             ng-if="$ctrl.error.path || ($ctrl.error.data && $ctrl.error.data.path)">
            {{ ::$ctrl.strings.errorPath | translate }}
        </div>
        <div class="layout-row layout-align-start-center text-subhead1" ng-if="$ctrl.error.path || ($ctrl.error.data && $ctrl.error.data.path)">
            {{ $ctrl.error.path || $ctrl.error.data.path }}
        </div>

        <div class="error-section text-body2 color-secondary-text layout-row layout-align-start-center"
             ng-if="$ctrl.isString($ctrl.error) || $ctrl.error.error || ($ctrl.error.data && $ctrl.error.data.error)">
            {{ ::$ctrl.strings.errorText | translate }}
        </div>
        <div class="layout-row layout-align-start-center text-subhead1" ng-if="$ctrl.error.error || ($ctrl.error.data && $ctrl.error.data.error)">
            {{ $ctrl.getErrorText() }}
            <!--{{ $ctrl.error.error || $ctrl.error.data.error }}-->
        </div>

        <div class="error-section text-body2 color-secondary-text layout-row layout-align-start-center"
             ng-if="$ctrl.error.method || ($ctrl.error.data && $ctrl.error.data.method)">
            {{ ::$ctrl.strings.errorMethod | translate }}
        </div>
        <div class="layout-row layout-align-start-center text-subhead1" ng-if="$ctrl.error.method || ($ctrl.error.data && $ctrl.error.data.method)">
            {{ $ctrl.error.method || $ctrl.error.data.method }}
        </div>

        <div class="error-section text-body2 color-secondary-text layout-row layout-align-start-center"
             ng-if="$ctrl.error.message || ($ctrl.error.data && $ctrl.error.data.message)">
            {{ ::$ctrl.strings.errorMessage | translate }}
        </div>
        <div class="layout-row layout-align-start-center text-subhead1"
             ng-if="$ctrl.error.message || ($ctrl.error.data && $ctrl.error.data.message)">
            {{ $ctrl.error.message || $ctrl.error.data.message }}
        </div>
    </div>
    <div class="pip-footer">
        <div>
            <md-button class="md-accent m0" ng-click="$ctrl.onOk()">{{ ::$ctrl.dismissButton | translate }}</md-button>
        </div>
    </div>
</md-dialog>
