<!--
@file Confirmation dialog template
@copyright Digital Living Software Corp. 2014-2016
-->
<md-dialog class="pip-dialog pip-error-details-dialog-2 layout-column" width="400" md-theme="{{vm.theme}}">
    <div class="pip-body">
        <div class="layout-row layout-align-row-start-center">
            <h3 class="pip-title">{{::'ERROR_HEADER' | translate}}</h3>
        </div>
        <div class="layout-row layout-align-row-start-center pip-section">
            <div class="pip-title-section">
                {{::vm.localStrings.time | translate}}
            </div>
            <div class="pip-text-section">
                {{:: vm.error.time}}
            </div>
        </div>

         <div class="layout-row layout-align-row-start-center pip-section">
            <div class="pip-title-section">
                {{::vm.localStrings.type | translate}}
            </div>
            <div class="pip-text-section">
                {{:: vm.error.type}}
            </div>
        </div>

        <div class="layout-row layout-align-row-start-center pip-section">
            <div class="pip-title-section">
                {{::vm.localStrings.correlationId | translate}}
            </div>
            <div class="pip-text-section">
                {{:: vm.error.correlationId}}
            </div>
        </div>

        <div class="layout-row layout-align-row-start-center pip-section">
            <div class="pip-title-section">
                {{::vm.localStrings.source | translate}}
            </div>
            <div class="pip-text-section">
                {{:: vm.error.source}}
            </div>
        </div>
        <pip-toggle-buttons ng-model="vm.state"
                            pip-rebind="true"
                            pip-buttons="vm.buttonsCollections"
                            class="bm16">
        </pip-toggle-buttons>
        <div ng-if="vm.state == 'message'"  class="tm16">{{vm.error.message}}</div>
        <div ng-if="vm.state == 'trace'"  class="tm16">{{vm.error.trace}}</div>
    </div>
</md-dialog>
