// @file CSS styles for options dialog
// @copyright Digital Living Software Corp. 2014-2016

.pip-dialog.pip-error-details-dialog-2 {
    .pip-section {
        height: 48px;
        .pip-title-section {
            font: @font-subhead2;
            font-size: 12px;
            color: @color-secondary;
            width: 100px;
            margin-right: 16px;
        }
        .pip-text-section {
            font: @font-body2;
         }
        .pip-title-section, .pip-text-section {
            vertical-align: middle;
            line-height: 48px;
            .text-overflow();
        }
    }
    .pip-text-error {
        margin-top: 16px;
    }
    h3 {
        margin: 0;
        margin-bottom: 16px;
    }
}

