// @file Composition of dialog CSS styles
// @copyright Digital Living Software Corp. 2014-2016

@import "css_light/css_light";

@import "options/options";
@import "confirmation/confirmation";
@import "error_details/error_details";
@import "information/information";



.pip-dialog {
    .pip-footer {
        padding-left: 12px;
        padding-right: 10px;
    }    

    .md-button {
        min-width: 24px;
    }     

    h3 {
        font: @font-title;     
    }  

    .rp24-flex {
        padding-right: 24px !important;
    }

    @media (max-width: 1200px) {
        .p24-flex {
            padding: 16px !important;
        }
    }     
}